body{
    background-color: honeydew;
    margin-left: 100px;
    margin-right: 200px;
    align-items: center;
}

.linea{
    color: midnightblue;
    font-size: 70px;
    text-align: center;
}
#lineb{
    text-align: center;
    color: midnightblue;
    font-size: 30px;
}
.resize{
    margin-left: 500px;
    height: 250px;
    width: 250px;
    align-items: center;
}
#resize{
    height: 250px;
    width: 250px;
    align-items: center;
}
.about{
    font-size: 30px;
    text-align: center;
    color: midnightblue;
    margin-left: 550px;


}

/* styling page2.html */
.lined{color: midnightblue;
    text-align: center;
    font-size: 40px;

}
.resizerita{
    height: 350px;
    width: auto;
    align-items: center;
}
#resizec{
    align-items: center;
    margin-left: 440px;
}
.linec{
    color: midnightblue;
    margin-left: 30px;
    padding-bottom: 100%;
    padding-top: 30px;
    text-align: center;

   
}


/* styling page3.html */
.resizeb{
    height: 250px;
    width: auto;
}