body{
    background-color: honeydew;
}

.linea{
    color: midnightblue;
    font-size: medium;
    font-family: sans-serif;
    text-align: center;
}

#lineb{
    text-align: center;
    color: midnightblue;
    font-size: 30px;
}
.resize{
    height: 250px;
    width: 250;
    text-align: center;

}
.world{
    font-size: 100px;
    text-align: center;
}
/* styling page2.html */



/* styling page3.html */
.resizeb{
    height: 250px;
    width: auto;
}